{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    "transform-async-generator-functions",
    "syntax-async-generators"
  ],
  "ignore": [
    "node_modules"
  ]
}
